<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .home_page{
            margin-top: 15%;
            margin-left: 42%;
        }
        a{
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 3%;
            font-size: larger;
        }
    </style>
</head>
<body class="home_page">
    <h1>Home Page</h1>
    <div>
        <a href="/login">To login page</a>
    </div>
    <br>
    <div>
        <a href="/register">To register page</a>
    </div>
</body>
</html>