<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <style>
        .login_page{
            margin-left: 40%;
            margin-top: 15%;
        }
        .login_page > div{
            margin-bottom: 10px;
        }
        .login_page > div > button{
            margin-left: 10%;
        }
        .anker{
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <form class="login_page" action="/login" method="POST">
        <h1>Login page</h1>
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required>
        </div>
        <div>
            <button>Login</button>
        </div>
    </form>
    <a class="anker" href="/register">to register page</a>
</body>
</html>