<form>
    <label>First Name</label>
    <input type="text" name="first_name" required/>
    <label>Middle Name</label>
    <input type="text" name="middle_name"/>
    <label>Last Name</label>
    <input type="text" name="last_name" required/>
    <label for="">DOB</label>
    <input type="date" name="date" required>
    <label for="">Email</label>
    <input type="email" name="email" required>
    <label for="">Phone Number</label>
    <input type="number" name="phone" required>
    <label for="">Company</label>
    <input type="text" name="company">
    <label for="">Occupation</label>
    <input type="text" name="occupation">
    <label for="">Password</label>
    <input type="password" name="password" required>
</form>